__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

.env
.env.music
.music-service/
.env.local
*.local

node_modules/
dist/
.vite/

media/
*.mp3
*.wav
*.png
!apps/*/public/**

.DS_Store
.idea/
.vscode/
